.cardRecipes img{
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 10px;
    margin: 0px 10px;
}

.cardRecipes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color:#BD9479;
    color: #151B11;
    font-size: 0.6em;
    opacity: 0.8;
    width: 100%;
    padding: 10px;
    height: 250px;
}
.cardRecipes::before{
    content: "Recipes";
    font-size: 20px;
    font-weight: bold;
    margin-top: -10px;
}
.cardRecipes:hover,
.cardRecipes:focus {
  color: #151B11;
  background-color:#BD9479;
  opacity: 1;
  font-weight: bold;
  transition: all .3s ease;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
}
.displayRecipes h2{
  font-size : 20px;
}
 .displayRecipes{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

 }

  @media screen and (min-width:700px){

    .cardRecipes{
        font-size: .8em;

    }
  } 
  
 