*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.musicContainer {
  background-color: rgba(218, 215, 215, 0.317);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  color: black;
  margin: 10px 0;

}

.musicContainer > iframe {
  border: none;

}