* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.teampage {
  background-image: url("../../assets/teamwork.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}

.logo {
  display: flex;
  justify-content: center;
  height: 35vh;
  filter: brightness(1.75);
}

.slogan {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
  font-family: "Roboto", sans-serif;
  color: #bd9479;
  font-size: 4vh;
  text-shadow: 4px 3px 0px #433b3b, 7px 4px 0px rgba(0, 0, 0, 0.15);
}

.team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #bd9479;
  font-size: 3vh;
  text-shadow: 4px 3px 0px #433b3b, 7px 4px 0px rgba(0, 0, 0, 0.15);
}

.Jawad {
  display: flex;
  justify-content: center;
}

.Jawadimg {
  height: 40vh;
}

.Marcelo {
  display: flex;
  justify-content: center;
}

.Marceloimg {
  height: 40vh;
}

.Vanessa {
  display: flex;
  justify-content: center;
}

.Vanessaimg {
  height: 40vh;
}

@media screen and (max-width: 700px) {
  .team {
    flex-direction: column;
    font-size: 3vh;
  }

  .Marcelo {
    display: flex;
    justify-content: center;
  }

  .slogan {
    padding-left: 10vh;
    line-height: 10vh;
    font-size: 3vh;
    padding-bottom: 10vh;
  }
}
