* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.musicPage {
  background-image: url("https://cdn.pixabay.com/photo/2019/12/18/04/11/dj-4702977_960_720.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 100px;
  position: relative;

}

.musicContainer {
 display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.glow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  height: 450px;
  width: 70%;  
  transform: translate(-50%, -50%);
  border-radius: 50px;
 
  box-shadow: 0 20px 35px rbba(0,0,0,0.3);
overflow: hidden;
z-index: 1;

}
.glow:before{
  content: "";
  position: absolute;
  height: 150%;
  width: 150%;

  background : conic-gradient(   
  #fd004c,
  #fe9000,
  #fff020,
  #3edf4b,
  #3363ff,
  #b102b7,
  #fd004c);

animation: spin 1.5s infinite linear}
/*
  .glow:after{
    content: "";
    position: absolute;
    background-color: #1c1b29;
    height: 93%;
    width: 93%;
    top: 3.5%;
    left: 3.5%;
    border-radius: 5px;

  }
*/
  @keyframes spin {
    100%{
      transform: rotate(-360deg);
    }
    
  }

/*.musicContainer > iframe {
  border-radius: 20px;
  box-shadow: 0px 4px 4px #BD9479(0, 0, 0, 0.25);
  border-width: 10px;
  border-color: #bd9479;
}
*/