/* *{
  box-shadow: 0 0 0 3px red inset;
} */

.newsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px;
  margin-top: 130px
}
.news {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin:  10px auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 10px;
  
  

}

a{
  cursor: pointer;
}

/* .news::before{
  content: "My Title" 
} */