@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*logo*/
.homeLogo {
  display: flex;
  position: absolute;
  width: 200px;
  height: 200px;
  left: -50px;
  top: -20px;
}
/* Search bar */
.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  /* min-width: 90%; */
  position: relative;
  margin: 10px auto;
  margin-left: 5px;
  margin-right: 5px;
}

.searchBar:hover {
  cursor: pointer;
}

/* * Handle input search bar changes */
.displayCountryName {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 70vw;
  max-width: 600px;
  /* min-width: 100%; */
  text-align: center;
  font-size: 2rem;
  padding-left: 15px;
  margin-top: 240px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #151b11;
  background-color: #bd9479;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonDropDownMenu {
  /* background-color: rgb(0, 0, 0); */
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  top: 255px;

  border-top: 20px solid #151b11;
  border-left: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
}

.dropDownMenu {
  width: 70vw;
  /* min-width: 380px; */
  max-width: 600px;
  text-align: center;
  height: 200px;
  overflow-y: scroll;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.countryOption {
  color: #151b11;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  background-color: #bd9479;
  opacity: 0.8;
}

.countryOption:hover {
  background-color: #151b11;
  color: #bd9479;
}

.mainContainer {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/09/18/27/old-1130730_960_720.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/*Results */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  width: 320px;
  overflow: hidden;
}

.flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 100px;
}

/*Titles*/
.titleContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 150px;
}
.homeTitle {
  font-family: "Roboto", sans-serif;
  color: #bd9479;
  font-size: 26px;
  line-height: 160px;
  margin-top: -20px;
  text-shadow: 4px 3px 0px #433b3b, 7px 4px 0px rgba(0, 0, 0, 0.15);
}
.homeSubTitle {
  color: #bd9479;
  font-size: 24px;
  margin-bottom: -10px;
  text-shadow: 4px 3px 0px #433b3b, 7px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 700px) {
  /*Titles*/
  .titleContainer {
    display: flex;
    flex-direction: column;
    display: flex;
    position: absolute;
    align-items: center;
    top: 70px;
  }
  .homeTitle {
    font-family: "Roboto", sans-serif;
    color: #bd9479;
    line-height: 160px;
    letter-spacing: 3px;
    text-shadow: 4px 3px 0px #433b3b, 9px 8px 0px rgba(0, 0, 0, 0.15);
    font-size: 5vw;
  }
  .homeSubTitle {
    color: #bd9479;
    letter-spacing: 3px;
    text-shadow: 4px 3px 0px #433b3b, 9px 8px 0px rgba(0, 0, 0, 0.15);
    font-size: 3vw;
  }

  /*logo*/
  .homeLogo {
    display: flex;
    position: absolute;
    width: 400px;
    height: 400px;
    left: -50px;
    top: -50px;
  }
  /*Results */
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
    width: 620px;
    margin: 10px;
  }
}
