
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*NavBar mobile*/ 

@media screen and (max-width : 700px) {
  

  .headerLogo{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
 
  }


.navbarlinks{
position: absolute;
 top: 0px;
right: 100vw;
 margin: 0;
 padding: 50px;
 list-style-type: none;
 background-color: #BD9479;
 width: 200px; 
 height: 400px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 border-radius:10px;
 transition: all .3s ease-out;
 z-index: 1;

}

  .shownav .navbarlinks {
    left: 0;
    visibility: visible;
  }


a{
  text-decoration: none;
  color: #151B11;
  font-size: 22px;
padding:20px;

}

/*button burger*/
button{
display: block;
position: fixed;
  height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    color: inherit;
    top: 1rem;
left: 1rem;
z-index: 2;
  }




.button:hover{
  cursor: pointer;

}
.burgerbar,
.burgerbar::before,
.burgerbar::after{
display: block;
width: 40px;
height: 3px;
position: relative;
border-radius: 3px;
transition:all .3s ease-in-out;
background-color: #BD9479;

}

.burgerbar::before,
.burgerbar::after{
  content: "";
  position: absolute;
  left: 0px;
  background-color: #BD9479 ;


}
.burgerbar::before{
  transform: translateY(-12px);
}
.burgerbar::after{
  transform: translateY(12px);
}
.shownav .burgerbar::before{
transform: rotate(45deg);
background-color: #151B11;
}

.shownav .burgerbar:after{
  background-color: #151B11;
  transform: rotate(-45deg);}

 .shownav .burgerbar{
  background:transparent;
width: 0;}

/*burger menu after click on button burger*/
.headerLinks::after{
  content: "";
  display: block;
  margin:0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 7vw;
  height: 1px;
  background-color:#151B11;

}

.headerLinks:last-child::after{
  display: none;
}
a:hover,
a:focus {
font-weight: bold;
 
}
}
@media screen and (min-width: 700px) {

.button{
  display: none;
}

.navbarlinks{
    background-color: #BD9479;
    Width: 500px;
    Height:55px;
    border-radius:10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    list-style-type: none;
    padding-left: 5px;
    padding-right: 5px;

}


.headerLinks a{
   color: #151B11;
   text-decoration: none;
}

.headerLinks a{
    flex: 1;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
}
    
.headerLinks a:hover,
.headerLinks a:focus {
  background-color: #151B11;
  color:#BD9479;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.headerLogo{
  display: block;
  width: 250px;
  height: 250px;
  margin : auto;
}
}

